.idea/
.DS_Store
.pdm-python
.todo
*/.DS_Store
api/ssh_keys
api/test/test.log
api/test/.pytest_cache
app/node_modules
app/public
db/*.db
cypress/screenshots/
dist/
docs/build
logs/
node_modules/
notes.md
commit_message.txt
