repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: "pdm run flake8"
        pass_filenames: false
        always_run: true
        language: system
      - id: prettier
        name: prettier
        entry: "npx prettier . --write --log-level error"
        pass_filenames: false
        always_run: true
        language: system
      - id: eslint
        name: eslint
        entry: "cd app && npx eslint --quiet src"
        pass_filenames: false
        always_run: true
        language: system
      - id: documentation
        name: documentation
        entry: "sphinx-build -W docs/source docs/build"
        pass_filenames: false
        always_run: true
        language: system
      - id: tmt
        name: tmt
        entry: "tmt lint . --disable-check P005"
        pass_filenames: false
        always_run: true
        language: system
